:root {
  --font-family: "Poppins", sans-serif;
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --font-size: 16px;
  --border-radius-large: 10px;
  --border-radius-small: 5px;
  --form-padding: 15px;
  --margin-bottom: 20px;
}

body {
  margin: 0px;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-image: url(images/bg-intro-desktop.png);
  background-color: var(--red);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--form-padding);
  margin: 50px;
  gap: 20px;
}

.grid-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 0px;
}

.grid-item1 p {
  margin-top: 20px;
}

.grid-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-banner {
  background-color: var(--blue);
  text-align: center;
  width: 85%;
  margin: 0px 20px;
  color: white;
  border-radius: var(--border-radius-large);
  box-shadow: 0px 6px rgba(0, 0, 0, 0.137);
}

form {
  background-color: white;
  height: auto;
  width: 80%;
  margin: 20px 20px 0px 20px;
  padding: 15px 15px 20px 15px;
  border-radius: var(--border-radius-large);
  box-shadow: 0px 6px rgba(0, 0, 0, 0.137);
}

input {
  display: block;
  padding: var(--form-padding);
  width: 85%;
  margin: 20px auto;
  border-radius: var(--border-radius-small);
  font-weight: 700;
  font-family: var(--font-family);
  border: 1px solid var(--grayish-blue);
}

button {
  display: block;
  background-color: var(--green);
  color: white;
  width: 95%;
  margin: 0px auto;
  padding: var(--form-padding);
  border-radius: var(--border-radius-small);
  border-width: 0px;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 3px rgba(33, 88, 33, 0.603);
}

.terms {
  margin-top: 15px;
  font-size: x-small;
  text-align: center;
}

.terms p {
  color: var(--grayish-blue);
}

.terms p a {
  color: var(--red);
  text-decoration: none;
  font-weight: 700;
}

.attribution {
  text-align: center;
}
